.footer {
    // background-color: $color-grey-dark-3;
    background-image: linear-gradient(to right bottom, rgba($color-grey-dark-3, 1), rgba($color-grey-dark-3, .9));
    grid-column: full-start / full-end;
    color: $color-grey-light-1;

    display: grid;
    grid-template-rows: 20rem;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    grid-gap: 4rem;
    font-size: 1.4rem;
    line-height: 1.7;

    &__heading {
        color: inherit;
        font-family: $font-primary;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: .6rem;
    }


    .overview {
        padding: 3rem;
        padding-top: 5.3rem;

        .copyright {
            margin-top: 3rem;
        }
    }

    .resources {
        padding: 2rem 3rem;
        margin: 0 auto;

        &__list {
            list-style: none;
        }

        &__item {
            margin: .6rem 0;
        }

        &__link {

            &:visited,
            &:link {
                text-decoration: none;
                color: inherit;
                font-size: inherit;
            }
        }
    }

    .contact {
        padding: 2rem 3rem;
    }
}