<article class="article">
    <a class="article__link" href="#/posts/<%= post.post_permalink %>">
        <div class="article__content">
            <div class="article__header">

                <h2 class="heading-2"><%= post.post_title %>
                </h2>

                <p class="article__date"><%= post.date %></p>
            </div>
            <div class="article__desc">
                <%= post.post_desc %>
            </div>
        </div>
    </a>
</article> <!-- end article -->
<!-- <article class="article">

    <div class="article__content">
        <div class="article__header">

            <h3 class="article__title"><a class="article__link" href="">Just a Standard Format
                    Post.</a>
            </h3>
            <p class="article__date">February 26, 2020</p>

        </div>
        <div class="article__desc">
            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident
            dolor
        </div>
    </div>

</article> -->